*.pyc
*.class
*.dex
*.apk
*.swp
*~
classes
tmp
build/*
bin
data
*.pbxuser
*.perspectivev3
.settings/*.prefs
.DS_Store
local.properties
.metadata
gen
nbandroid/
default.properties
build.properties
export.properties
lint_files
proguard-project.txt
builds
ant.properties
private/
